download/n8n_RSS爬蟲工作流.json
{
  "name": "TechNews RSS 爬蟲",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        500
      ],
      "id": "schedule-trigger-001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://technews.tw/feed/"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        100,
        500
      ],
      "id": "rss-read-001",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.categories }}",
              "rightValue": "GPT-5",
              "operator": {
                "type": "array",
                "operation": "contains"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.categories }}",
              "rightValue": "AI",
              "operator": {
                "type": "array",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        400,
        500
      ],
      "id": "filter-001",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "文章",
              "stringValue": "={{ $json.title }}\n{{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        500
      ],
      "id": "edit-fields-001",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allArticles",
        "include": "specifiedFields",
        "fieldsToInclude": "文章",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "id": "aggregate-001",
      "name": "資料統整"
    },
    {
      "parameters": {
        "sendTo": "your-email@gmail.com",
        "subject": "=TechNews AI 新聞摘要 - {{ $now.format('yyyy-MM-dd HH:mm') }}",
        "message": "=以下是最新的 AI / GPT-5 相關新聞：\n\n{{ $json.allArticles.map(item => item.文章).join('\\n\\n---\\n\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1300,
        500
      ],
      "id": "gmail-001",
      "name": "送出信件",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "資料統整",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "資料統整": {
      "main": [
        [
          {
            "node": "送出信件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "",
  "tags": []
}
